.time_item {
  display: flex;
  gap: 10px;
  transition: 0.2s;
  justify-content: space-between;
  align-items: center;
}
.calendar_block {
  background-color: var(--accent);

  width: 60%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px dotted var(--primary);
  text-align: start;
  padding-inline: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  &:hover {
    opacity: 0.7;
  }
}

.logo {
  color: var(--primary);
}
.ball {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.text {
  color: var(--primary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active {
  border-style: solid;
}
