.form {
  box-shadow: 0 0 4px 0 var(--opacity-foreground);
  border-radius: var(--button-radius);
  display: flex;
  color: white;
  background-color: var(--primary);
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  padding: 40px;
  font-weight: normal;
}

.inputsContainer {
  display: flex;
  gap: 20px;
  flex-basis: 100%;
}
.inputsContainer__fullname {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-weight: bold;
}
.container {
  display: flex;
  gap: 20px;
  flex-basis: 100%;
}
.container__password {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100%;
}
.container_showPassword {
  position: absolute;
  right: 20px;
  color: var(--secondary);
}
.container_rightPassword {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
}
.label_password {
  font-weight: bold;
}
.link {
  color: var(--accent);
  &:hover {
    text-decoration: underline;
  }
}

.form_input {
  padding-left: 40px;
}

.lock {
  position: absolute;
  color: var(--primary);
  left: 10px;
}

.mailContainer {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.mail {
  position: absolute;
  color: var(--primary);
  left: 10px;
}

.form__title {
  font-weight: bold;
}
