.notificate {
  border: 2px solid var(--primary);
  background-color: var(--background);
  border-radius: var(--button-radius-sec);
  padding: 20px;
  max-width: 400px;
  display: flex;

  gap: 10px;
  opacity: 1;
  animation: left 4s linear forwards;
}

.warn {
  border-color: rgb(255, 251, 0);
}
.error {
  border-color: var(--error);
}
.container {
  position: fixed;
  inset: 0;
  top: 102px;
  height: max-content;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.description {
  font-weight: normal;
}

@keyframes left {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
