* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: rgb(2, 143, 156);
  --accent: rgb(224, 253, 255);
  --foreground: rgb(1, 22, 23);
  --padding-x: 200px;
  --background: rgb(255, 255, 255);
  --button-radius: 8px;
  --opacity-foreground: rgba(1, 22, 23, 0.446);
}

body {
  max-width: 100%;
  min-height: 100vh;
}
@layer base {
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  input {
    outline: 0;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
  }
  a {
    text-decoration: none;
  }
}

.inp {
  border: 1px solid var(--opacity-foreground);
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  transition: border 0.2s;
  width: 100%;
  &:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 2px 0 var(--primary);
  }
}
.but-prim {
  background-color: var(--primary);
  color: var(--background);
  transition: all 0.3s;
  padding-block: 10px;
  padding-inline: 20px;
  font-size: 15px;
  box-shadow: 0 0 3px 0 var(--primary);
  font-weight: bold;
  border-radius: var(--button-radius);
  &:hover {
    box-shadow: 0 0 3px 0 var(--accent);
  }
  &:active {
    opacity: 0.5;
  }
}
