.panel {
  display: flex;
  gap: 10px;
  position: sticky;
  top: 0;
}
.input {
  padding-left: 40px;
  background-color: var(--secondary-accent);
}

.input_container {
  display: flex;
  width: 100%;
  align-items: center;

  position: relative;
}
.logo {
  color: var(--primary);
  position: absolute;
  left: 10px;
}
