.container {
  background-color: var(--light);
  height: 85vh;
  width: 60%;
  border-radius: var(--button-radius-sec);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}
.jobs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
