.form {
  box-shadow: 0 0 4px 0 var(--opacity-foreground);
  border-radius: 5px;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-block: 20px;
}
.form__title {
  color: var(--primary);
  text-align: center;
}
.inputsContainer {
  display: flex;
  gap: 20px;
  flex-basis: 100%;
}
.inputsContainer__fullname {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
